.number-vessel-wrap .icon-question-mark-tooltip-text {
	width: 252px !important;
}

#openModal {
	transition: 0.3s ease;
}

#openModal:hover {
	color: #fff;
}
.no-selection-text {
	opacity: 0.3;
	font-weight: 400;
}
